<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_connection">org.mysql</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/dipak</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">2004</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>